

@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
.navbar{
    font-family: "Haas Grot Text R Web", "Helvetica Neue", "Helvetica"," Arial", "sans-serif"
    

}

.nav-link{
    font-weight: bold;
    font-size: medium;
    
}
.nav-link:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
  }

  .dropdown:hover .dropdown-menu {display: block;}

  .dropdown-item-desc{
    font-size: small;
  }



  .form-1{
    background-color: none;
  }

.hi{
    background-color:#ea4c89 !important;
    color:white;
  }

  .carousel .carousel-item {
    height: 500px;

  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
  .midcar{
    width: 50% !important;
  }

  .footer-title{
    fill:#ea4c89 !important ;
    width: 150px;
    height: 150px;
  }

  .footer-text{
    text-align:left;
  }

.heading{
  font-weight: 500;
  color:black;
  text-align:left;
  padding-left: 15px;
}

.link-design{
   color:rgba(74, 73, 72)!important;
   font-weight: 100;
   text-align:left;
}



.bold{
  color: black;
  font-weight: 500;
}
.svgIcon{
  width: 20px;
  height: 20px;
}

.footerRight{
  text-align: right;
  
}

.pro-flag{
  background-color: #e54f6d;
  color: white;
  font-weight: 100;
  
  border-radius: 8%;
}

.svgDiv{

    height: 35px;
    width: 35px;
    background-color:#e5e7eb;
    border-radius: 20%;
  
}

.dropdown-item-desc{
  font-size: small;
}

.hoverSvg{
  width: 15px;
  height: 10px;
  margin-left: 20px;
   display: none; 
}
.dropdown-item:hover + .hoverSvg{
  display: block;
}
.site-nav-dropdown-icon:hover + .hoverSvg{
  display: block;
}

.endDiv{
  font-size: 15px;
  color: black;
  font-weight: 500px;
}

.endDiv p{
  font-size: 10px;
}

.endImg{
  border-radius: 50%;
}

.complex{
  display: flex;
}

.sideContent{
 
  
  width: 100%;
  background-color: #e5e7eb;
}




  .icsize{
    font-size: 22px;
  }
  .hi1{
    background-color: rgb(164, 156, 156) !important;
  }

.para_style{
  font-size: 20px;

}
.para_portion{
  width: 60% !important;
}
.last_portion{
  width: 60px !important;
}
.odm{
  font-size: 30px;
  
}